<div class="panel panel-default" ng-controller="formularioPersonaCtrl">
    <div class="panel-body">
        <input type=”text” ng-model=”nombre”>
        <ul>
        <li ng-repeat="buscar-contacto:nombre">{{personas.nombre}}</li>
        </ul>
    </div>
    <div class="panel-footer" ng-controller="buscar-contacto">

        <a class="btn btn-default" ng-click="buscar()" role="button">
            <i class="glyphicon glyphicon-floppy-disk"></i> &nbsp;Buscar
        </a>
        
    </div>
</div>
